apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gjallarhorn.fullname" . }}-config
  namespace: {{ include "gjallarhorn.namespace" . }}
  labels:
    {{- include "gjallarhorn.labels" . | nindent 4 }}
data:
  HOST: {{ .Values.app.host | quote }}
  PORT: {{ .Values.app.port | quote }}
  KEYCLOAK_REALM: {{ .Values.keycloak.realm | quote }}
  KEYCLOAK_JWKS_CACHE_TTL: {{ .Values.keycloak.jwksCacheTtl | quote }}
  EXPORT_MAX_RECORDS: {{ .Values.app.exportMaxRecords | quote }}
  RUST_LOG: {{ .Values.app.logLevel | quote }}
  {{- with .Values.app.extraEnv }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
